/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
body {
        background-color: #757163ff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Bubblegum Sans', cursive;
        font-size: 28px;
        font-weight: 1000;
        background-image: url("/media/bg2.png");
        background-repeat: repeat;
        background-size: 360px;

    }


a {
      color: black;
      text-decoration: none;
    }

@media (max-width:480px) {

    .header {
        display: flex;
        align-items: center;
        align-items: center;

    }

    .header div {
        margin-bottom: 5px;


    }

    .logo {
        text-align: center;

    }
    .logo img {
        width: 60%;

    }

    .logo2 {
       text-align: left;
       width: 80%;

    }

    .logo2 img {
        width: 60%;


    }

    input[type="text"],input[type="number"],input[type="file"],input[type="password"], input[type="email"],select {
      background-color :#928b67ff;
      font-size: 24px;
      font-family: 'Bubblegum Sans', cursive;
      width: 250px;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      padding: 20px;
      vertical-align:top;
      height:24px;
      display:block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;
      border: none;

    }

    .forms{
        text-align: center;
    }

    .forgot {
        margin-top:5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .forgot p {
        padding: 8px;
    }

    .login, .send{
         width: 36%;
    }
    .create {
         width: 70%;
    }


    .api {
        text-align: center;
        padding-top:10px;
    }

    .reset_pass, .logout {
       text-align: center;
    }

    .reset_pass p{
       margin-bottom: 20px;
    }

    .reset_pass h1, .logout h1{
       font-size: 32px;
       margin-bottom: 20px;
    }
    .register, .reset {
       text-align: center;
       font-size: 26px;
    }

    .register h1, .reset h1{
       font-size: 32px;
       margin-bottom: 20px;
    }

    .register a, .user a, .logout a{
        color: #a1a1a1ff;
    }


    .boar_cal{
        background: #928b67ff;
        border-radius: 30px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8%;
        margin-bottom: 5%;

    }

    .boar_cal div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .boar_with_carrot img {
        width: 80%;
        text-align: center;
        margin-left: 10%;

    }

    .boar_with_carrot {
        width: 50%;

    }

    .calendar {
        width: 100%;
        text-align: center;

    }

    .calendar img {
        width: 55%;
        text-align: center;
        margin-left: 9%;


    }

        .settings_meal{
        border-radius: 30px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


        .bars{
        background: #928b67ff;
        border-radius: 30px;
        opacity: 0.7;
        padding-top: 10px;
        margin: 2px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        border: solid 1px;
    }

    .daily {
        width: 100%;

    }

     .settings_meal div{
        text-align: center;

    }

    .settings_div {

    background: #928b67ff;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

    .meal_div {
    background: #928b67ff;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

   .settings img {

        width: 55%;
    }

    .settings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    .meal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

       .meal img {
        width: 70%;
    }



    .logout {
         width: 100%;
    }

    .user {
        text-align: right;
        width: 20%;
    }

}







