
/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
body {
        background-color: #757163ff;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Peralta', cursive;
        font-size: 28px;
        font-weight: 1000;
        background-image: url("/media/bg3.jpg");
        background-repeat: repeat;
        background-size: 200%;
        min-width: 280px;

    }


a {
      color: black;
      text-decoration: none;
    }

@media (max-width:500px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;

    }

    .header div {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .logo {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-around;

    }
    .logo img {
        margin-top: 10px;
        width: 80%;

    }

    .line {
        display: flex;

        margin-bottom: 5px;
        align-items: center;
        justify-content: space-around;

    }

    .line img {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;

    }

    .logo2 {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-around;

    }
    .logo2 img {
        margin-top: 10px;
        width: 85%;

    }

    input[type="text"],input[type="number"],input[type="file"],input[type="password"], input[type="email"],select {
      background-color: transparent;
      border: solid 2px;
      border-radius: 25px;
      font-size: 20px;
      font-family: 'Peralta', cursive;
      width: 250px;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      vertical-align:top;
      height:35px;
      display:block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;

    }

       input[type="submit"]:not(.save, .cal_text){
      background-color: transparent;
      border: none;
      font-size: 100%;
      font-weight: bold;
      font-family: 'Peralta', cursive;
      width: 110px;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      vertical-align:top;
      height:35px;
      display:block;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;

    }


    .forms{
        margin-top: 5%;
        text-align: center;
        font-size: 5vw;

    }

    .forgot {
        margin-top:5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 5vw;
    }
    .forgot p {
        padding: 8px;
    }

    .api {
    font-size: 6vw;
    }

    .login, .send{
         width: 35%;
    }
    .create {
         width: 70%;
    }


    .api {
        text-align: center;
        padding-top:10px;
    }

    .reset_pass, .logout {
       text-align: center;
    }



    .reset_pass h1, .logout h1{
        margin-top: 10%;
       font-size: 6vw;
       margin-bottom: 20px;
    }

        .reset_pass p, .reset_pass ul{
       margin-bottom: 20px;
       font-size: 5vw;
    }
    .register, .reset {
       text-align: center;
       font-size: 5vw;
    }

    .register h1, .reset h1{
        margin-top: 10%;
       font-size: 6vw;
       margin-bottom: 20px;
    }

    .register a, .logout a{
        color: #484848;
    }


    .boar_cal{
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;


    }

    .boar_cal div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 35vw;

    }

    .profil img {
        width: 55%;
        text-align: center;
    }

    .profil {
        width: 50%;

    }

    .calendar {
        width: 100%;
        text-align: center;

    }

        .calendar p{
        position: absolute;
        text-align: center;

    }



    .calendar img {
        width: 80%;
        margin-top: -8%;

    }

    .settings_meal{
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;


    }

    .settings_meal div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 35vw;
    }

        .meal_div img {
        width: 90%;
        text-align: center;
    }

        .settings_div img {
        width: 70%;
        text-align: center;
    }

     .bars{
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 25vw;

    }

    .box p{
        font-size: 5vw;
        line-height: 15%;
        margin: 0;
        padding: 0;
    }

    .box2 p{
        font-size: 4vw;
        line-height: 15%;
        margin: 0;
        padding: 0;
    }

    .daily {
        width: 100%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 65%;
        opacity: 0.85;
    }

    .values {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .values div {
        width: 22%;
        font-size:7vw;
        text-align: center;
        margin-bottom: 1%;
    }

    .values_text{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        font-size: 5vw;
    }


    .settings_div {
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

    .meal_div {
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

    .logout {
    margin-top: 10%;
         width: 100%;
    }

    .kcal, .prot, .fat, .carb {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }


/* SETTINGS */



    .settings2 div{
        width: 100%;
        margin-bottom: 1%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        align-items: center;
        justify-content: space-around;
        font-size: 5vw;
    }


    .settings2 input:not(.save, .calculate){
    border-radius: 20px;
    width: 50%;
    font-size: 4vw;
    justify-content: flex-start;
    margin: 0;
    height: 7vw;
    opacity: 0.7;
    }

    .settings2 select{
    border-radius: 20px;
    text-align-last:center;
    font-size: 4vw;
    width: 100%;
    margin: 0;
    height: 7vw;
    opacity: 0.7;
    }

    .line {
        display: flex;
        flex-wrap: wrap;

    }

        .line div {
        display: flex;
        flex-wrap: wrap;
        width:55%;
        margin: 2px;


    }

    .line .label_line {
    width: 30%;
    }

    .line span {
        white-space: pre;
        font-size: 4vw;
        }

     .line span:not(.blind){
        opacity: 0.7;
        }

    .blind {
        color: #928b67ff;
        opacity: 0;
    }

    .label_line p{
        font-size: 4vw;
        text-align: center;
        opacity: 0.7;

    }

    h1 {
     font-size: 5vw;
     text-align: center;
     margin-bottom: 5%;
    }

    .info {
    display: flex;
    border-radius: 20px;
    height: 40vw;
    }

    .info div{
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .info_content p{
    font-size: 80%;
    text-align: justify;
    line-height: 130%;


    }

    .info_content p span{
    color: #484848;

    }

    .save, .back, .calculate{
        width: 55%;
    }

    .calculate{

        width: 40%;
    }

    .calculate div{
    text-align: center;
    }

    .back_save {
        display: flex;

    }

    .back_save div {
    margin-top: 5%;
    width: 40%;
    }

    .back_save div a{
    opacity: 0.7;
    }

    .save {
        width: 50%;
    }


    input[type="submit"]{
      background-color: transparent;
      border: none;
      font-size: 100%;
      font-weight: bold;
      font-family: 'Peralta', cursive;
      width: 100%;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      vertical-align:top;
      height:5vw;
      display:block;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;


    }

    .cal {
        color: #44325df3;
    }

    .prot {
        color: #525896f3;
    }

    .carb {
        color: #8a5154f3;
    }

    .fat {
        color: #345b52f3;
    }

    .box hr, .box2 hr {
        border: solid 1px black;
    }




      input[type="text"] .list ,input[type="number"] .list ,input[type="file"] .list ,input[type="password"] .list , input[type="email"] .list ,select{
      font-size: 70%;

    }

    .today {
        text-align: center;
        font-size: 6vw;
    }

    /*#breakfast_hide_show, #breakfast2_hide_show, #dinner_hide_show, #supper_hide_show, #snacks_hide_show {
    display: none;
    }*/

    p, h1, h2 {
    opacity: 0.7;
    }

    .header a {
    color: black;
    font-size: 5vw;
    opacity: 0.6;

    }

    .header a{
    position: absolute;
    top: 20px;
    right: 20px;
    }

    .cal_input{
    width: 50px;
    position: absolute;
    text-align: center;
    opacity: 0.7;
    }

    .meal {
        font-size: 5vw;
    }

    .add_product {
        font-size: 4vw;
        margin-bottom: 5%;
    }

    .add_product2 {
    font-size: 5vw;
    margin-bottom: 10%;
    text-align: center;
    }

    .add_product a{
    color: #8a5154f3;
    }

    #id_weightb, #id_weightb2,  #id_weightd, #id_weightl,  #id_weightsu, #id_weightsn     {
        width: 100%;
        font-size: 4vw;
    }

    #id_productb, #id_productb2, #id_productd, #id_productl, #id_productsu, #id_productsn   {
        width: 100%;
        font-size: 4vw;
    }

    .add_meal_form form {
        display: flex;
        margin: 0;
        padding: 0;
    }


    .add_meal_form div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1%;
        margin-top: 2%;


    }

    .add_meal_form div input[type="text"], input[type="number"]{
        margin: 0;
    }
        .add {
        width: 10%;
        font-size: 7vw;
        padding: 0;

    }

    .weight {
        width: 30%;
    }

    .product {
        width: 60%;
    }

    .add_meal_form {
            font-size: 5vw;

        }

    .param {
        font-size: 4vw;
        text-align: center;
        opacity: 0.5;

    }

    .sum {
        font-size: 4vw;
        color: #44325df3;
        text-align: center;
    }

    .product_param_del{
        display: flex;
        margin: 0;
        padding: 0;
    }


    .product_param_del div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2%;
        margin-top: 2%;
        font-size: 5vw;


    }

    .add_meal_form div input[type="text"], input[type="number"]{
        margin: 0;
    }
        .del button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        font-size: 10vw;

    }

    .scroll {
    height: 75vw;
     overflow: scroll;
    }

    .back_save2 {
        display: flex;

    }

    .back_save2 div {
    width: 40%;
    margin-left: 10%;
    }

    .back_save2 div a{
    opacity: 0.7;
    font-size: 5vw;
    }

        .back_save3 {
        display: flex;

    }

    .back_save3 div {
    width: 40%;
    margin-top: 20%;
    margin-left: 10%;
    }

    .back_save3 div a{
    opacity: 0.7;
    font-size: 5vw;
    }

    .save_prod {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    option{
        font-size: 4vw;
        width: 50px;
        margin: auto auto;
        background-color: white;
        opacity: 0.1;
        overflow: scroll;
    }

    .back_save_p {
        display: flex;
        height: 120vw;
        align-items: flex-end;
        font-size: 5vw;
        opacity: 0.7;
        margin-left: 10%;


    }

    .message {
        font-size: 4vw;
        margin-bottom: 5%;
        color: red;
        text-align: center;
    }

    ul {
        font-size: 5vw;
        opacity: 0.7;
    }

    .build {
        margin-top: 55%;
    }
}
    .too_big {
        display:block;
    }

    .max_width_info {
        display: none;
    }

    .ui-menu-item {
        color: black;
        font-size: 4vw;
    }

    #id_name {
        width: 100%;
    }

    #id_type option{
        font-size: 3vw;
        line-height: 0.8;
        padding: 0;
        margin: 0;
        text-indent:-1.5px;
        height: 20px;


    }

    #id_type {
        max-height: 50px;
    }


@media (min-width:501px) {
    .too_big {
        display: none;
    }
        .max_width_info {
        display: block;
        margin: auto auto;
        text-align: center;
        margin-top:10%;
    }

     .max_width_info h1{
        font-size: 20px;
    }

}





