/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
body {
        background-color: #757163ff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Bubblegum Sans', cursive;
        font-size: 28px;
        font-weight: 1000;
        background-image: url("/media/bg2.png");
        background-repeat: repeat;
        background-size: 360px;


    }


a {
      color: black;
      text-decoration: none;
    }

@media (max-width:480px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;

    }

    .header div {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-around;

    }

    .logo {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-around;

    }
    .logo img {
        width: 60%;

    }

    .logo2 {
       text-align: left;
       width: 80%;

    }

    .logo2 img {
     margin-right: 25%;
        width: 70%;

    }

    input[type="text"],input[type="number"],input[type="file"],input[type="password"], input[type="email"],select {
      background-color :#928b67ff;
      font-size: 24px;
      font-family: 'Bubblegum Sans', cursive;
      width: 250px;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      vertical-align:top;
      height:35px;
      display:block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;
      border: none;

    }

    .forms{
        text-align: center;
    }

    .forgot {
        margin-top:5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .forgot p {
        padding: 8px;
    }

    .login, .send{
         width: 36%;
    }
    .create {
         width: 70%;
    }


    .api {
        text-align: center;
        padding-top:10px;
    }

    .reset_pass, .logout {
       text-align: center;
    }

    .reset_pass p{
       margin-bottom: 20px;
    }

    .reset_pass h1, .logout h1{
       font-size: 32px;
       margin-bottom: 20px;
    }
    .register, .reset {
       text-align: center;
       font-size: 26px;
    }

    .register h1, .reset h1{
       font-size: 32px;
       margin-bottom: 20px;
    }

    .register a, .user a, .logout a{
        color: #a1a1a1ff;
    }


    .boar_cal{
        background: #928b67ff;
        border-radius: 30px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .boar_cal div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .boar_with_carrot img {
        width: 85%;
        text-align: center;
        margin-left: 10%;

    }

    .boar_with_carrot {
        width: 50%;

    }

    .calendar {
        width: 100%;
        text-align: center;


    }

        .calendar p{
        position: relative;
        padding-top: 30%;
        left: 38%;

    }

    .calendar img {
        width: 55%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right:10%


    }

        .settings_meal{
        border-radius: 30px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5%;

    }


        .bars{
        background: #928b67ff;
        border-radius: 30px;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .daily {
        width: 100%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size:7vw;

    }

    .values {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .values div {
        width: 22%;
        font-size:7vw;
        text-align: center;
        margin-bottom: 1%;
    }

    .values_text{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        font-size: 6vw;
    }

     .settings_meal div{
        text-align: center;
        font-size:7vw;

    }

    .settings_div {

    background: #928b67ff;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

    .meal_div {
    background: #928b67ff;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 25px;
    width: 45%;
    }

   .settings img {

        width: 55%;
                margin-top: 10%;
        margin-bottom: 10%;
    }

    .settings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    .meal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

   .meal img {
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    }



    .logout {
    margin-top: 10%;
         width: 100%;
    }

    .user {
        text-align: right;
        width: 20%;
    }

    .kcal, .prot, .fat, .carb {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }

/* Circle  progress bars */
    :root {
      --value-percent: 90;
    }

    .box {
        position: relative;

        display: flex;
        flex-direction: column;
        width: 70px;
        height: 70px;
    }

    .box .percent1{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent1 svg{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent1 svg circle {
        fill: none;
        stroke-width: 10;
        stroke: #53406ef3;
        transform: translate(5px,5px);
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        stroke-linecap: round;
        }

        .box .percent1 svg circle:nth-child(1) {
         stroke-dashoffset: 0;
         stroke: #a19797f3;
    }

            .box .percent1 svg circle:nth-child(2) {
         stroke-dashoffset: calc(190 - (190 * 87) / 100);
         stroke: #44325df3;
    }
    .box .percent1 .number{
        position: absolute;
        top: 38%;
        left: 8%;
        width: 100%;
        height: 100%
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;

    }

    .box .percent2{
        position: relative;

        width: 70px;
        height: 70px;
    }
            .box .percent2 svg{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent2 svg circle {
        fill: none;
        stroke-width: 10;
        stroke: #525896f3;
        transform: translate(5px,5px);
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        stroke-linecap: round;
        }

        .box .percent2 svg circle:nth-child(1) {
         stroke-dashoffset: 0;
         stroke: #a19797f3;
    }

            .box .percent2 svg circle:nth-child(2) {
         stroke-dashoffset: calc(190 - (190 * 87) / 100);
         stroke: #525896f3;
    }
    .box .percent2 .number{
        position: absolute;
        top: 38%;
        left: 8%;
        width: 100%;
        height: 100%
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;
        }

           .box .percent3{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent3 svg{
        position: relative;

        width: 70px;
        height: 70px;
    }
        .box .percent3 svg circle {
        fill: none;
        stroke-width: 10;
        stroke: #8a5154f3;
        transform: translate(5px,5px);
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        stroke-linecap: round;
        }

        .box .percent3 svg circle:nth-child(1) {
         stroke-dashoffset: 0;
         stroke: #a19797f3;
    }

            .box .percent3 svg circle:nth-child(2) {
         stroke-dashoffset: calc(190 - (190 * 87) / 100);
         stroke: #8a5154f3;
    }
    .box .percent3 .number{
        position: absolute;
        top: 38%;
        left: 8%;
        width: 100%;
        height: 100%
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;

    }

        .box .percent4 svg{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent4 svg{
        position: relative;

        width: 70px;
        height: 70px;
    }

        .box .percent4 svg circle {
        fill: none;
        stroke-width: 10;
        stroke: #43776bf3;
        transform: translate(5px,5px);
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        stroke-linecap: round;
        }

        .box .percent4 svg circle:nth-child(1) {
         stroke-dashoffset: 0;
         stroke: #a19797f3;
    }

            .box .percent4 svg circle:nth-child(2) {
         stroke-dashoffset: var(--value-percent);
         stroke: #43776bf3;
    }
    .box .percent4 .number{
        position: absolute;
        top: 38%;
        left: 2%;
        width: 100%;
        height: 100%
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;

    }

    .number h2 span {
        font-size: 4vw;
    }


    svg {
    margin-left: 7%;
    }

/* SETTINGS */

    .settings select {
      background-color :#928b67ff;
      font-size: 24px;
      font-family: 'Bubblegum Sans', cursive;
      width: 250px;
      text-align: center;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      vertical-align:top;
      height:35px;
      display:block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      line-height: 80%;
      color: black;
      border: none;


    }

    .settings2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    .settings2 div{
        width: 100%;
        background: #928b67ff;
        margin-top: 4px;
        margin-bottom: 4px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        align-items: center;
        justify-content: space-around;
    }


    .settings2 input{
    background: #c5cacaff;
    border-radius: 20px;
    width: 50%;
    font-size: 6vw;
    justify-content: flex-start;
    margin: 0;
    }

    .settings2 select{
    background: #c5cacaff;
    border-radius: 20px;
    text-align-last:center;
    font-size: 6vw;
    width: 100%;
    margin: 0;
    }

    .line {
        display: flex;
        flex-wrap: wrap;

    }

        .line div {
        display: flex;
        flex-wrap: wrap;
        width:55%;
        margin: 2px;


    }

    .line .label_line {
    width: 30%;
    }

    .blind {
    color: #928b67ff;
    }

    .line span {
        white-space: pre;
        font-size: 6vw;}


    .label_line p{
        text-align: center;
    }



}







