{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <div class="login_forms">

        <form  class="forms" action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input class="login" type="submit" name="sdfsdf" value='Zaloguj'  alt="dfgdfg"/></p>
        </form>
        <div class="forgot">
            <p><a href="{% url 'password_reset' %}">Zapomniałeś/aś hasła?</a></p>
            <p><a href="{% url 'register' %}">Zarejestruj się</a></p>
        </div>
        <div class="line"><img src="/media/line.png"></div>
        <div class="api">
             <p><a href="{% url 'product_list' %}">API</a></p>
        </div>



    </div>

{% endblock %}