{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="header">
        {% if not request.user.is_authenticated %}
            <div class="logo"><img src="/media/logo.png"></div>
        {% else %}
            <div class="logo2"><img src="/media/logo2.png"></div>
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="user">

    <!--                Witaj, {{ request.user.first_name }}!-->
                    <a href="{% url 'logout' %}"><input class="logout" type="image" name="submit" src="/media/logout.png"  alt="Submit"/></a>


    <!--                <a href="{% url 'login' %}">Login</a>-->

            </div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}

    <script>

        function myFunction_breakfast() {
          var x = document.getElementById("breakfast_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function myFunction_breakfast_2() {
          var x = document.getElementById("breakfast2_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function myFunction_lunch() {
          var x = document.getElementById("lunch_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function myFunction_dinner() {
          var x = document.getElementById("dinner_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function myFunction_supper() {
          var x = document.getElementById("supper_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function myFunction_snacks() {
          var x = document.getElementById("snacks_hide_show");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#id_productb, #id_productb2, #id_productl, #id_productd, #id_productsn, #id_productsu" ).autocomplete({
                source: '{% url 'meals' %}',
                minLength: 2
            });
        });



    </script>

</body>
</html>