{% extends 'base.html' %}

{% block title %}Penel główny{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
        <div class="menu">

                <div class="boar_cal">
                    <div class="profil">
                        <a href="{% url 'settings' %}"><img src="/media/profil.png"></a>
                    </div>
                    <div class="calendar">
                        <img src="/media/kalendarz.png">

                        {% if days >= 14 and days <= 90 and person_status == 'ongoing' %}
                            <p class="cal_text">{{days}}</p>
                        {% elif person_status == 'ready' %}
                                <div class="cal_input">
                                    <form action="." method="post">
                                        <input type="submit" value="Start"/>
                                        {% csrf_token %}
                                    </form>
                                </div>

                        {% else %}
                           <p class="cal_text">??</p>
                        {% endif %}
                    </div>

                </div>
                <div class="settings_meal">
                    <div class="meal_div">
                        {% if person_status == 'ongoing' %}
                            <a href="{% url 'meals' %}"><img src="/media/chleb.png"></a>
                        {% else %}
                            <a href=""><img src="/media/chleb.png"></a>
                        {% endif %}
                    </div>

                    <div class="settings_div">
                        <a href="#"><img src="/media/premium.png"></a>
                    </div>
                </div>
                 <div class="line"><img src="/media/line.png"></div>
                <div class="bars">
                    <div class="daily"><p>Dzienny limit</p></div>
                    <div class="values">

                            <div class="box">
                              <p class="cal">{{ kcal }}</p>
                               <hr class="cal">
                              <p class="cal">{{daily_calory_limit}}</p>
                                <hr class="cal">
                                 <p class="cal">[kcal]</p>
                                <hr class="cal">
                              <p class="cal">kalor.</p>



                            </div>
<!--                            <p>kcal</p>-->


                            <div class="box">
                              <p class="carb">{{ carb }}</p>
                               <hr class="carb">
                              <p class="carb">{{limit_carb}}</p>
                                <hr class="carb">
                                <p class="carb">[g]</p>
                                <hr class="carb">
                              <p class="carb">węgl.</p>
                            </div>
<!--                            <p>prot</p>-->


                            <div class="box">
                              <p class="prot">{{ prot }}</p>
                               <hr class="hr_prot">
                              <p class="prot">{{limit_prot}}</p>
                                <hr class="prot">
                                <p class="prot">[g]</p>
                                <hr class="prot">
                              <p class="prot">biał.</p>
                            </div>
<!--                            <p>carb</p>-->


                            <div class="box">
                              <p class="fat">{{ fat }}</p>
                               <hr class="hr_fat">
                              <p class="fat">{{limit_fat}}</p>
                                <hr class="fat">
                                <p class="fat">[g]</p>
                                <hr class="fat">
                              <p class="fat">tłusz.</p>
                            </div>
<!--                            <p>fat</p>-->

                    </div>
                </div>


        </div>

        {% endif %}
{% endblock %}


