{% extends 'base.html' %}

{% block title %}Penel główny{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
        <div class="menu">

                <div class="boar_cal">
                    <div class="boar_with_carrot"><img src="/media/boar_with_carrot.png"></div>
                    <div class="calendar"><p>{{days}}</p>
                        <img src="/media/calendar.png"></div>
                </div>
                <div class="settings_meal">
                    <div class="settings_div">
                        <a href="{% url 'settings' %}"><div class="settings"><img src="/media/settings.png"></div></a>
                        <a href="{% url 'settings' %}">Settings</a>
                    </div>
                    <div class="meal_div">
                        <div class="meal"><img src="/media/meal.png"></div>
                        <a href="#">Add a meal</a>
                    </div>
                </div>
                <div class="bars">
                    <div class="daily"><p>Daily limit</p></div>
                    <div class="values">

                            <div class="box">
                                <div class="percent1">
                                     <svg width="60" height="60">
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>87<span>%</span></h2>
                                    </div>
                                </div>

                            </div>
<!--                            <p>kcal</p>-->


                            <div class="box">
                                <div class="percent2">
                                    <svg width="60" height="60">
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>87<span>%</span></h2>
                                    </div>
                                </div>

                            </div>
<!--                            <p>prot</p>-->


                            <div class="box">
                                <div class="percent3">
                                      <svg width="60" height="60">
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>87<span>%</span></h2>
                                    </div>
                                </div>

                            </div>
<!--                            <p>carb</p>-->


                            <div class="box">
                                <div class="percent4">
                                    <svg width="60" height="60">
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                        <circle cx="42%" cy="42%" r="42%"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 style="--value-percent:0">90<span>%</span></h2>
                                    </div>
                                </div>

                            </div>
<!--                            <p>fat</p>-->

                    </div>
                    <div class="values_text">

                        <div>kcal</div>
                        <div>prot</div>
                        <div>carb</div>
                        <div>fat</div>

                    </div>
                </div>


        </div>

        {% endif %}
{% endblock %}


