{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
            <h1>Dodaj produkt do posiłku</h1>
            <p class="message">{{message}}</p>
<!--            <div class="today">{{ today }}</div>-->
            <p class="add_product">Brak produktu? Dodaj go <a href="{% url 'user_products' %}"><span>tutaj</span></a>.</p>

            <div class="breakfast">
                <div><p class="meal">Śniadanie</p></div>
    <!--            <button onclick="myFunction_breakfast()">Show/Hide</button>-->
                <div class="add_meal_form"><form action="." method="get">

                    <div class="product">{{ breakfast_form.productb }}</div>
                    <div class="weight">{{ breakfast_form.weightb }}</div>
                        {% csrf_token %}
                    <div class="add"><input type="submit" value="+"></div>
                     </form>
                </div>


                    {% for product in breakfast_products %}
                    <div class="product_param_del">
                        <div class="product"><p>{{ product.name|truncatechars:10 }}</p></div>
                        <div class="weight"><p>{{ product.weight }}</p></div>
                        <div class="del">
                            <form method="POST">
                            <button  class="del" name="delete_items" type="submit" value="{{ product.pk }}">-</button>
                            {% csrf_token %}
                        </form></div>

                    </div>
                <div class="param">kal. {{ product.kcal }} / węgl. {{ product.carb }} / biał. {{ product.prot }} / tłusz. {{ product.fat }}</div>
                    {% endfor %}
<!--                    <div class="sum">kal.{{breakfast_kcal}} / węgl.{{breakfast_carb}} / biał.{{breakfast_prot}} / tłusz.{{breakfast_fat}}</div>-->
                </div>

            </div>
            <div class="line"><img src="/media/line.png"></div>
            <p class="meal">Drugie śniadanie</p>
            <button onclick="myFunction_breakfast_2()">Show/Hide</button>
            <form action="." method="get">
                {{ breakfast2_form.weightb2 }}
                {{ breakfast2_form.productb2 }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{breakfast_2_kcal}},carb:{{breakfast_2_carb}}, prot:{{breakfast_2_prot}},fat:{{breakfast_2_fat}}</p>
            </form>
            <div id="breakfast2_hide_show">
                {% for product in breakfast_2_products %}
                    {{ product.name }} {{ product.kcal }} {{ product.carb }} {{ product.prot }} {{ product.fat }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            </div>

            <p class="meal">Obiad</p>
            <button onclick="myFunction_dinner()">Show/Hide</button>
            <form action="." method="get">
                {{ dinner_form.weightd }}
                {{ dinner_form.productd }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{dinner_kcal}},carb:{{dinner_carb}}, prot:{{dinner_prot}}, fat:{{dinner_fat}}</p>
            </form>
            <div id="dinner_hide_show">
                {% for product in dinner_products %}
                    {{ product.name }} {{ product.kcal }} {{ product.carb }} {{ product.prot }} {{ product.fat }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            </div>

            <p class="meal">Podwieczorek</p>

             <button onclick="myFunction_lunch()">Show/Hide</button>
            <form action="." method="get">
                {{ lunch_form.weightl }}
                {{ lunch_form.productl }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{lunch_kcal}},carb:{{lunch_carb}}, prot:{{lunch_prot}}, fat:{{lunch_fat}}</p>
            </form>
            <div id="lunch_hide_show">
                {% for product in lunch_products %}
                    {{ product.name }} {{ product.kcal }} {{ product.carb }} {{ product.prot }} {{ product.fat }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            </div>



            <p class="meal">Kolacja</p>
            <button onclick="myFunction_supper()">Show/Hide</button>
            <form action="." method="get">
                {{ supper_form.weightsu }}
                {{ supper_form.productsu }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{supper_kcal}},carb:{{supper_carb}}, prot:{{supper_prot}}, fat:{{supper_fat}}</p>
            </form>
            <div id="supper_hide_show">
                {% for product in supper_products %}
                    {{ product.name }} {{ product.kcal }} {{ product.carb }} {{ product.prot }} {{ product.fat }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            </div>
            <p class="meal">Przekąski</p>
            <button onclick="myFunction_snacks()">Show/Hide</button>
            <form action="." method="get">
                {{ snacks_form.weightsn }}
                {{ snacks_form.productsn }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{snacks_kcal}},carb:{{snacks_carb}}, prot:{{snacks_prot}}, fat:{{snacks_fat}}</p>
            </form>
            <div id="snacks_hide_show">
                {% for product in snacks_products %}
                    {{ product.name }} {{ product.kcal }} {{ product.carb }} {{ product.prot }} {{ product.fat }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            </div>
        {% endif %}
        <div class="back_save">
                     <div><a href="{% url 'dashboard' %}"><img class="back" src="/media/back.png"></a></div>

                </div>


{% endblock %}


