{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
            <h1>Add a meal</h1>
            <div class="today">{{ today }}</div>
            <p>Breakfast</p>
            <form action="." method="get">
                {{ breakfast_form.weightb }}
                {{ breakfast_form.productb }}
                {% csrf_token %}
                <input type="submit" value="add">
                 <hr>

                <p>kcal:{{breakfast_kcal}},carb:{{breakfast_carb}}, prot:{{breakfast_prot}}, fat:{{breakfast_fat}}</p>
            </form>
                {% for product in breakfast_products %}
                    {{ product.name }}
                    <div class="del"><form method="POST">
                        <button name="delete_items" type="submit" value="{{ product.pk }}">X</button>
                        {% csrf_token %}
                    </form></div>
                    <hr>
                {% endfor %}
            <hr><hr>
            <p>II Breakfast</p>
            <form action="." method="get">
                {{ breakfast2_form.weightb2 }}
                {{ breakfast2_form.productb2 }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{breakfast_2_kcal}},carb:{{breakfast_2_carb}}, prot:{{breakfast_2_prot}},fat:{{breakfast_2_fat}}</p>
            </form>
            <p>Lunch</p>
            <form action="." method="get">
                {{ lunch_form.weightl }}
                {{ lunch_form.productl }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{lunch_kcal}},carb:{{lunch_carb}}, prot:{{lunch_prot}}, fat:{{lunch_fat}}</p>
            </form>
            <p>Dinner</p>
            <form action="." method="get">
                {{ dinner_form.weightd }}
                {{ dinner_form.productd }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{dinner_kcal}},carb:{{dinner_carb}}, prot:{{dinner_prot}}, fat:{{dinner_fat}}</p>
            </form>
            <p>Supper</p>
            <form action="." method="get">
                {{ supper_form.weightsu }}
                {{ supper_form.productsu }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{supper_kcal}},carb:{{supper_carb}}, prot:{{supper_prot}}, fat:{{supper_fat}}</p>
            </form>
            <p>Snacks</p>
            <form action="." method="get">
                {{ snacks_form.weightsn }}
                {{ snacks_form.productsn }}
                {% csrf_token %}
                <input type="submit" value="add">
                <p>kcal:{{snacks_kcal}},carb:{{snacks_carb}}, prot:{{snacks_prot}}, fat:{{snacks_fat}}</p>
            </form>
        {% endif %}
        <div class="back_save">
                     <div><a href="{% url 'dashboard' %}"><img class="back" src="/media/back.png"></a></div>

                </div>


{% endblock %}


