{% extends 'base.html' %}

{% block title %}Utwórz konto{% endblock %}

{% block content %}
    <div class="register">
        <h1>Create account</h1>
        <p>Please complete the form below to register</p>
        <form class="forms" action="." method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <input class="create" type="image" name="submit" src="/media/create_account.png"  alt="Submit"/>
        </form>
    </div>
    <a href="{% url 'dashboard' %}">Back</a>
{% endblock %}