{% extends 'base.html' %}

{% block title %}Utwórz konto{% endblock %}

{% block content %}
    <div class="register">
        <h1>Rejestracja</h1>
        <p>Wypełnij poniższe pola, aby się zarejestrować</p>
        <form class="forms" action="." method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
           <div><p><input class="save" type="submit" name="submit" value='Stwórz konto' alt="Submit"/></p></div>
        </form>
        <br>
    </div>
                      <div class="back_save2">
                     <div><a href="{% url 'dashboard' %}">Wróć</a></div>
                 </div>
    <br>
{% endblock %}