{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
            <h1>Settings</h1>
             <form class="settings2" action="." method="post">
                 <div class="line">
                    <div class="label_line"> <p>{{ profile_form.gender.label }}</p></div>
                     <div class="gender"> {{ profile_form.gender }}</div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.age.label }}</p></div>
                     <div>{{ profile_form.age }} <span class="blind">kg   </span></div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.weight.label }}</p></div>
                     <div>{{ profile_form.weight }} <span
                     >kg   </span></div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.height.label }}</p></div>
                     <div>{{ profile_form.height }} <span>cm   </span></div>
                 </div>
                 <div class="line">
                      <div class="label_line"><p>{{ profile_form.physical_activity.label }}</p></div>
                      <div>{{ profile_form.physical_activity }}</div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.new_weight.label }}</p></div>
                     <div>{{ profile_form.new_weight }} <span>kg   </span></div>
                 </div>

                 <div class="line">
                      <div class="label_line"><p>{{ profile_form.time.label }}</p></div>
                     <div>{{ profile_form.time }} <span>days</span></div>
                 </div>
                 <div class="line">
                      <div class="label_line"><p>{{ profile_form.body_type.label }}</p></div>
                     <div>{{ profile_form.body_type }}</div>
                 </div>
                 <div class="info">
                     <div class="info_content">
                         {% if time != None %}
                             {% if time >= 14 and time <= 90%}
                                 {% if def_percent > 30 %}
                                    <p> I'm sorry, but the daily caloric deficit is {{ def_percent }}%,
                                        the limit is 30%. It is dangerous to your health. Try to increase the time or reduce the
                                        weight difference to reduce the caloric deficit.
                                    </p>
                                 {% else %}
                                     {% if weight > new_weight %}
                                         <p> Yours <span>total daily energy requirement is {{ tder }} kcal</span>. If you want to lose
                                             {{ dw }} kg in {{ time }} days you must create a daily caloric <span>deficit</span>
                                             of<span> {{ dd }}  kcal</span>. So the <span>daily caloric limit is {{ dcl }} kcal</span>.</p>
                                     {% elif weight == new_weight %}
                                         <p> Yours <span>total daily energy requirement is {{ tder }} kcal</span>.
                                             If you want to stay at this weight level, <span>eat {{ tder }} kcal</span>.
                                     {% elif weight < new_weight %}
                                         <p> Yours <span>total daily energy requirement is {{ tder }} kcal</span>. If you want to gain
                                             {{ dw }} kg in {{ time }} days you must create a daily caloric <span>surplus</span>
                                             of<span> {{ dd }}  kcal</span>. So the <span>daily caloric limit is {{ dcl }} kcal</span>.</p>
                                     {% endif %}
                                 {% endif %}
                             {% elif time < 14 %}
                                <p> Give yourself time and change it to 14 days or more.</p>
                             {% else %}
                                <p> It's too long. Please, change time to 90 days or less.</p>
                            {% endif %}
                         {% else %}
                            <p> Lalalallala.</p>
                         {% endif %}
                     </div>
                 </div>

                 {% csrf_token %}
                 <div class="back_save">
                     <div><a href="{% url 'dashboard' %}"><img class="back" src="/media/back.png"></a></div>
                <div><p><input class="save" type="image" name="submit" src="/media/save.png"  alt="Submit"/></p></div>
                </div>
             </form>

        {% endif %}


{% endblock %}


