{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
            <h1>Profil</h1>
             <form class="settings2" action="." method="post">
                 <div class="line">
                    <div class="label_line"> <p>{{ profile_form.gender.label }}</p></div>
                     <div class="gender"> {{ profile_form.gender }}</div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.age.label }}</p></div>
                     <div>{{ profile_form.age }} <span class="blind">kg   </span></div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.weight.label }}</p></div>
                     <div>{{ profile_form.weight }} <span>kg   </span></div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.height.label }}</p></div>
                     <div>{{ profile_form.height }} <span>cm   </span></div>
                 </div>
                 <div class="line">
                      <div class="label_line"><p>{{ profile_form.physical_activity.label }}</p></div>
                      <div>{{ profile_form.physical_activity }}</div>
                 </div>
                 <div class="line">
                     <div class="label_line"><p>{{ profile_form.new_weight.label }}</p></div>
                     <div>{{ profile_form.new_weight }} <span>kg   </span></div>
                 </div>

                 <div class="line">
                      <div class="label_line"><p>{{ profile_form.time.label }}</p></div>
                     <div>{{ profile_form.time }} <span>days</span></div>
                 </div>

                 <div class="info">
                     <div class="info_content">
                         {% if time != None %}
                             {% if time >= 14 and time <= 90%}
                                 {% if def_percent > 30 %}
                                    <p> Twój dzienny deficyt kaloryczny wynosi {{ def_percent }}%,
                                        a limit to 30%. Może to być niebezpieczne dla Twojego zdrowia.
                                        Spróbuj zwiększyć czas na zmiany lub zwiększ wartość nowej wagi.
                                    </p>
                                 {% else %}
                                     {% if weight > new_weight %}
                                         <p> Twoje <span>kaloryczne zapotrzebowanie wynosi {{ tder }} kcal</span>. Jeśli chcesz zrzucić {{ dw }} kg w {{ time }} dni,
                                             musisz wytworzyć dziennie kaloryczny <span>deficyt</span> na poziomie
                                             <span> {{ dd }}  kcal</span>. Oznacza to <span>dzienny limit kaloryczny równy {{ dcl }} kcal</span>.</p>
                                          <p>W celu rozpoczęcia kliknij <span>"start"</span> na kalendarzu w oknie głównym.</p>
                                     {% elif weight == new_weight %}
                                         <p> Twoje <span>kaloryczne zapotrzebowanie wynosi {{ tder }} kcal</span>.
                                             Jeśli chcesz utrzymać wagę, <span>jedz {{ tder }} kcal</span> dziennie.
                                             <p>W celu rozpoczęcia kliknij <span>"start"</span> na kalendarzu w oknie głównym.</p>
                                     {% elif weight < new_weight %}
                                         <p> Twoje <span>kaloryczne zapotrzebowanie wynosi {{ tder }} kcal</span>. Jeśli chcesz przytyć
                                             {{ dw }} kg w {{ time }} dni, musisz wytworzyć kaloryczną <span>nadwyżkę</span>
                                             wynoszącą<span> {{ dd }}  kcal</span>. Oznacza to <span>dzienny limit kaloryczny równy {{ dcl }} kcal</span>.</p>
                                            <p>W celu rozpoczęcia kliknij <span>"start"</span> na kalendarzu w oknie głównym.</p>
                                     {% endif %}
                                 {% endif %}
                             {% elif time < 14 %}
                                <p> Daj sobie więcej czasu i ustaw minimum 14 dni</p>
                             {% else %}
                                <p> To zbyt długo. Ustaw maksymalnie 90 dni.</p>
                            {% endif %}
                         {% else %}
                            <p> </p>
                         {% endif %}
                     </div>
                 </div>

                 {% csrf_token %}
                 <div class="back_save">
                     <div><a href="{% url 'dashboard' %}">Wróć</a></div>
                     <div><p><input class="save" type="submit" name="submit" value='Zapisz' alt="Submit"/></p></div>

                 </div>
             </form>

        {% endif %}


{% endblock %}


