{% extends 'base.html' %}

{% block title %}Dodaj produkt{% endblock %}

{% block content %}
        <p class="add_product2">Wprowadź podstawowe informacje o produkcie oraz wartości odżywcze produktu dla wagi
            100g</p>
        <form class="settings2" action="." method="post">
             <div class="line">
                 <div class="label_line"> <p>{{ user_prod_form.name.label }}</p></div>
                    <div>{{ user_prod_form.name }}</div>
             </div>
             <div class="line">
            <div class="label_line"> <p>{{ user_prod_form.type.label }}</p></div>
                 <div class="gender">{{ user_prod_form.type }}</div>
             </div>
             <div class="line">
            <div class="label_line"> <p>{{ user_prod_form.kcal.label }}</p></div>
                 <div>{{ user_prod_form.kcal }}</div>
             </div>
             <div class="line">
            <div class="label_line"> <p>{{ user_prod_form.carb.label }}</p></div>
                 <div>{{ user_prod_form.carb }}</div>
             </div>
             <div class="line">
            <div class="label_line"> <p>{{ user_prod_form.prot.label }}</p></div>
             <div>{{ user_prod_form.prot }}</div>
             </div>
             <div class="line">
            <div class="label_line"> <p>{{ user_prod_form.fat.label }}</p></div>
             <div>{{ user_prod_form.fat }}</div>
             </div>
            {% csrf_token  %}
            <div class="save_prod"><input type="submit" value="Dodaj"></div>
        </form>
            <div class="back_save3">
                     <div><a href="{% url 'meals' %}">Wróć</a></div>


                 </div>
{% endblock %}


